<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>640950779878-l0u7hi6tqlrr52asr6hu50ada4b1i32f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640950779878-l0u7hi6tqlrr52asr6hu50ada4b1i32f</string>
	<key>API_KEY</key>
	<string>AIzaSyCCWG5RyiKXvVh1-9aj7J4_J_dY_Iemrbc</string>
	<key>GCM_SENDER_ID</key>
	<string>640950779878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maven.TreasureHunt</string>
	<key>PROJECT_ID</key>
	<string>fintech-expo</string>
	<key>STORAGE_BUCKET</key>
	<string>fintech-expo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640950779878:ios:5c9c9ecae949d5ce</string>
	<key>DATABASE_URL</key>
	<string>https://fintech-expo.firebaseio.com</string>
</dict>
</plist>